body{
    margin:0;
    font-family: serif;
    background:#e6e6e6;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/* BARRA */
.barra{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#b8c9de;
    padding:10px 20px;
    flex-wrap:wrap;
}

.logo{
    width:60px;
}

/* ICONOS */
.iconos{
    display:flex;
    flex-wrap:wrap;
}

.iconos img{
    width:40px;
    margin-left:10px;
}

/* MENÚ */
.menu{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content:center;
}

.menu a{
    text-decoration:none;
    background:white;
    padding:8px 15px;
    border-radius:20px;
    color:black;
    font-weight:bold;
    transition:0.3s;
}

.menu a:hover{
    background:#ddd;
}

/* CONTENIDO */
.principal{
    text-align:center;
    margin-top:120px;
    flex:1;
}

.texto{
    letter-spacing:4px;
    font-size:18px;
}

h1{
    font-size:50px;
}

/* FOOTER */
.footer{
    background:#b8c9de;
    padding:15px;
    text-align:center;
    margin-top:auto;
}

/* 📱 RESPONSIVE */
@media (max-width:600px){

    h1{
        font-size:30px;
    }

    .principal{
        margin-top:60px;
    }

    .logo{
        width:50px;
    }

    .iconos img{
        width:30px;
    }
}